In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('경상북도 성주군_참외가격_20200731.csv', encoding='cp949')
df

             일자  단위농협  참외물량   상품가격   중품가격
0    2018-01-25     9   125  90000  71000
1    2018-02-28     1  3484  67000  46000
2    2018-02-28     3   787  62000  46000
3    2018-02-28     8    36  54000  40000
4    2018-02-28     6   232  55000  48000
..          ...   ...   ...    ...    ...
109  2020-07-30     1  6273  50000  15000
110  2020-07-30     6  1332  38000  18000
111  2020-07-30     4  5156  52000  16000
112  2020-07-30     3  2695  35000  14000
113  2020-07-30     9  6666  42000  13000

[114 rows x 5 columns]

In [7]:
df['단위농협']=df['단위농협'].astype('category')

In [10]:
df['단위농협'].value_counts()

9    23
1    20
8    20
4    18
3    17
6    16
Name: 단위농협, dtype: int64

In [11]:
df['단위농협'].unique()

[9, 1, 3, 8, 6, 4]
Categories (6, int64): [1, 3, 4, 6, 8, 9]